#customize-controls .control-section-helphealth-medical-pro .accordion-section-title:hover,
#customize-controls .control-section-helphealth-medical-pro .accordion-section-title:focus {
	background-color: #fff;
}
.control-section-helphealth-medical-pro .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
}
.rtl .control-section-helphealth-medical-pro .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}
.accordion-section-title .button-secondary  {
    margin-top: -4px;
    font-weight: 700;
    margin-left: 8px;
    background: #00AA9C;
    color: #fff;
    border-color: #00AA9C;
    padding: 0 20px 1px;

}
.accordion-section-title .button-secondary:hover, 
.accordion-section-title .button-secondary:active, 
.accordion-section-title .button-secondary:focus {
    background-color: #DCAE1D;
    border-color: #DCAE1D !important;
    color: #fff;
    box-shadow: none;
}

#accordion-section-helphealth_medical-pro h3.accordion-section-title::before {
	content: '\f07a';
	font-size: 20px;
	margin:-4px 10px 0 10px;
}